* {
  margin: 0;
  padding: 0; }

footer {
  font-size: 30px;
  background-color: white;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px; }
  footer ul {
    list-style: none; }
    footer ul li:hover {
      color: red; }

header {
  background-color: #008cff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  margin: auto; }
  header p {
    font-style: italic;
    font-size: 50px; }

body {
  background-color: black; }

.estructuraglobal {
  display: flex;
  justify-content: center; }
  .estructuraglobal img {
    margin: 10px;
    width: 900px;
    height: 500px;
    border-color: black;
    border-style: double;
    border-radius: 15px; }

h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 40px;
  background-color: aquamarine;
  text-align: center; }

.estructura1 img, .estructura4 img {
  display: flex;
  display: inline;
  margin: 15px;
  height: 400px;
  width: 400px;
  border-style: groove;
  border-radius: 20px;
  border-color: white; }

.estructura1 h2, .estructura4 h2 {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: red;
  margin-left: 15px;
  margin-right: 15px;
  color: azure; }

.estructura1 p, .estructura4 p {
  font-size: 25px;
  color: white;
  text-align: justify;
  margin-left: 15px;
  margin-right: 15px; }

.estructura2 img {
  display: flex;
  display: inline;
  margin: 15px;
  height: 400px;
  width: 400px;
  border-style: groove;
  border-radius: 20px;
  border-color: cyan; }

.estructura2 h3 {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: red;
  margin-left: 25px;
  margin-right: 25px;
  color: white; }

.estructura2 p {
  font-size: 25px;
  color: white;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px; }

.estructura3 img {
  display: flex;
  display: inline;
  margin: 15px;
  height: 400px;
  width: 400px;
  border-style: groove;
  border-radius: 20px;
  border-color: yellow; }

.estructura3 h4 {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: red;
  margin-left: 25px;
  margin-right: 25px;
  color: white; }

.estructura3 p {
  font-size: 25px;
  color: white;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px; }

.estructura4 {
  background-color: white; }
  .estructura4 p {
    color: black; }

.tragos img {
  width: 380px;
  height: 380px;
  display: flex;
  display: inline;
  margin: 28px;
  border-style: double;
  border-radius: 30px;
  border-color: red; }

.tragos p {
  font-size: 25px;
  color: white;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px; }

.tragos h6 {
  background-color: red;
  color: white;
  font-size: 30px; }
